* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Nunito Sans", sans-serif;
}
.main {
  background: linear-gradient(180deg, #0c4c7b -100%, #1e2f40 100%);
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.img {
  width: 829px;
  height: 862px;
  position: absolute;
  right: -168px;
}
.text {
  color: #faf9f9;
  flex: 0 0 580px;
  padding-top: 170px;
  padding-bottom: 170px;
}
h1 {
  font-size: 120px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 120px;
  margin-bottom: 40px;
}
h1 span {
  color: #fbb731;
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  display: block;
  margin-bottom: 10px;
}
p {
  font-family: "Lato", sans-serif;
  font-size: 19px;
  line-height: 27px;
  color: #dedede;
  margin-bottom: 42px;
}
a {
  background-color: #fbb731;
  border-radius: 5px;
  color: #1e2f40;
  padding: 20px 45px 20px 45px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
}
.visual {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.bg {
  width: 432px;
  height: 100%;
  background: linear-gradient(
    2.42deg,
    #f37335 -19.6%,
    #fbb731 100.79%,
    #fdc830 100.79%
  );
}
.pic {
  background-image: url(../img/pic.png);
  background-repeat: no-repeat;
  width: 580px;
  height: 395px;
  padding-right: 20px;
}
.pic-2 {
  background-image: url(../img/pic-2.png);
  background-repeat: no-repeat;
  width: 580px;
  height: 395px;
}
.nav {
  display: flex;
  margin-top: 186px;
  margin-left: 360px;
  margin-bottom: 185px;
}
.content {
  margin: 116px 152px 116px 50px;
}
.content-2 {
  margin: 102px 177px 101px 50px;
}
.sale {
  background-color: #f37335;
  border-radius: 14px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
}
.sale-2 {
  padding: 5px 18.23px;
}
.procent {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 60px;
}
.txt {
  color: #faf9f9;
  font-family: "Lato", sans-serif;
}
.free {
  color: #fff;
  font-weight: 700;
  font-size: 44px;
  line-height: 56px;
}
.developer {
  color: #faf9f9;
  padding-top: 5px;
  font-family: "Lato", sans-serif;
}
.ab {
  margin-top: 20px;
}
